<div class="flex flex-col w-full sm:w-[36.5rem]">

  <%= render "users/header_profile", user: current_user %>

  <div class="header-title">
    <h1 class="heading-3 font-bold">People</h1>
  </div>

  <% if @filtered_users.blank? %>
    <div class="header-title">
      <p class="heading-4 font-semibold">No users matched</p>
    </div>
  <% end %>

  <div class="flex flex-col mt-2 mx-auto items-start sm:w-[36.5rem] w-full overflow-auto border-b-2">
    <% @filtered_users.each do |u| %>
      <%= turbo_frame_tag "user_#{u.id}", class: "w-full" do %>
        <%= render "users/users_list", user: u, followed: u.following? %>
      <% end %>
    <% end %>
  </div>

  <%= turbo_frame_tag "tweets_search" do %>
    <div class="tweet-box divide-y">
      <% @filtered_tweets.each do |t| %>
        <%= render "users/tweets/tweet_card", tweet: t %>
      <% end %>
    </div>
  <% end %>

  <% if @pagy.next.present? %>
    <%= turbo_frame_tag :pagination_search, loading: :lazy, src: search_index_path(format: :turbo_stream, page: @pagy.next) %>
  <% end %>

</div>
