<% if current_user %>
  <% if tweet.liked? %>
    <%= link_to like_tweet_path(tweet), class: "nav-tweet-link hover:bg-red-500/20", data: { turbo_method: :post } do %>
      <%= image_tag "liked_icon", class: "nav-tweet-icon" %>
      <p><%= tweet.likes_count %></p>
    <% end %>
  <% else %>
    <%= link_to like_tweet_path(tweet), class: "nav-tweet-link hover:bg-red-500/20", data: { turbo_method: :post } do %>
      <%= image_tag "like_icon", class: "nav-tweet-icon" %>
      <p><%= tweet.likes_count %></p>
    <% end %>
  <% end %>
<% else %>
  <%= link_to new_user_session_path, class: "nav-tweet-link hover:bg-red-500/20", data: { turbo_method: :post } do %>
    <%= image_tag "like_icon", class: "nav-tweet-icon" %>
    <p><%= tweet.likes_count %></p>
  <% end %>
<% end %>
