<div class="tweet-card">
  <div class="flex flex-col">
    <%= image_tag "profile_picture", class: "rounded-full w-10 h-10 mr-3" %>
  </div>

  <div class="flex flex-col w-full pb-2">
    <div class="flex gap-1 pb-1 items-center">
      <h3 class="heading-5 font-bold"><%= @user.name %></h3>
      <p class="text-dark-400">@<%= @user.username %><p>
      <p class="text-dark-400"><%= time_ago_in_words(tweet.created_at)%></p>
    </div>

    <div class="flex items-start">
      <p class="text-dark-900"><%= tweet.content %><p>
    </div>

    <div class="flex items-start py-[0.62rem]">
      <p>* * MEDIA CONTENT * *<p>
    </div>

    <nav class="nav-tweet">
      <div class="nav-tweet-item">
        <%= link_to "", class: "nav-tweet-link" do %>
          <%= image_tag "comment_icon", class: "nav-tweet-icon" %>
          <p>11</p>
        <% end %>
      </div>
      <div class="nav-tweet-item">
        <%= link_to "", class: "nav-tweet-link hover:bg-green-500/20" do %>
          <%= image_tag "retweet_icon", class: "nav-tweet-icon" %>
          <p>3</p>
        <% end %>
      </div>
      <div class="nav-tweet-item">
        <%# <%= like_button(liked, @user, tweet)%>
        <% if current_user %>
          <% if current_user.likes && current_user.likes.include?(current_user.likes.find_by(tweet_id: tweet.id)) %>
            <%= link_to user_tweet_like_path(@user, tweet, current_user.likes.find_by(tweet_id: tweet.id)), class: "nav-tweet-link hover:bg-red-500/20", data: { turbo_method: :delete } do %>
              <%= image_tag "liked_icon", class: "nav-tweet-icon" %>
              <p><%= tweet.likes.size %></p>
            <% end %>
          <% else %>
            <%= link_to user_tweet_likes_path(@user, tweet), class: "nav-tweet-link hover:bg-red-500/20", data: { turbo_method: :post } do %>
              <%= image_tag "like_icon", class: "nav-tweet-icon" %>
              <p><%= tweet.likes.size %></p>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path	, class: "nav-tweet-link hover:bg-red-500/20", data: { turbo_method: :post } do %>
            <%= image_tag "like_icon", class: "nav-tweet-icon" %>
            <p><%= tweet.likes.size %></p>
          <% end %>
        <% end %>
      </div>
      <div class="nav-tweet-item">
        <%= link_to "", class: "nav-tweet-link" do %>
          <%= image_tag "share_icon", class: "nav-tweet-icon" %>
          <p>12</p>
        <% end %>
      </div>
    </nav>
  </div>
</div>
