<%= turbo_frame_tag "new-tweet-modal" do %>
<div class="w-screen h-screen absolute flex bg-black/20">
  <div class="mx-auto sm:mt-6 w-full h-full sm:w-[37.5rem] sm:h-[17rem] bg-white sm:rounded-3xl shadow-lg">
    <div class="flex justify-between w-full h-[3.33rem] items-center px-4">
      <div class="w-5 y-5">
       <%= link_to image_tag("close_icon", class: "w-3.5 h-3.5"), "", data: {
          turbo_frame: "_top",
          controler: "modals",
          action: "modals#close"
        } %>
      </div>
    </div>

    <div class="flex flex-row py-3 px-4 h-auto">
      <%= form_with(model: @tweet, class: "w-full h-full flex flex-col gap-y-5", url: tweets_path, method: "post") do |f| %>
        <div class="flex border-b-2 h-[8rem]">
          <%= image_tag "profile_picture", class: "w-10 h-10 rounded-full mr-3" %>

          <div class="w-full">
            <%= f.text_area :content, autocomplete: "content", placeholder: "What is happening?!", row: 2, class: "input resize-none border-none placeholder:text-base" %>
          </div>
        </div>

        <div class="flex px-4 items-center h-auto">
          <%= f.submit "Post", class: "btn btn-md btn-primary w-20", data: { turbo_frame: "_top" } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
