<div class="flex flex-col justify-between w-[17.2rem] px-2.5">
  <%# TOP %>
  <div>
    <div class="flex flex-row p-3">
      <%= image_tag 'twitter_icon'%>
    </div>

    <div class="flex flex-col">
      <div class="sidemenu-item">
        <%= image_tag 'home_icon'%>
        <h2 class='sidemenu-title'>Home</h2>
      </div>

      <div class="sidemenu-item">
        <%= image_tag 'notification_icon'%>
        <p class='sidemenu-title'>Notifications</p>
      </div>

      <div class="sidemenu-item">
        <%= image_tag 'message_icon'%>
        <h2 class='sidemenu-title'>Messages</h2>
      </div>

      <div class="sidemenu-item">
        <%= image_tag 'profile_icon'%>
        <h2 class='sidemenu-title'>Profile</h2>
      </div>
      <div class="sidemenu-item">
        <%= image_tag 'more_icon'%>
        <h2 class='sidemenu-title'>More</h2>
      </div>
    </div>

    <%= link_to 'Tweet', class: 'btn btn-lg btn-primary' %>
  </div>

  <%# PROFILE %>
  <div>
    <p>Perfil</p>
  </div>

</div>
