<%= turbo_frame_tag 'modal' do%>
  <div class="absolute flex bg-dark-200/80 w-screen h-screen">
    <div class='w-2/5 h-min m-auto max-w-[37.5rem] max-h-[46.875rem] bg-white'>
      <h1>Edit Profile</h1>

      <div class="h-[12.5rem] bg-dark-300">
      </div>

      <div class="profile-picture">
      </div>

      <%= form_with(model: @user, html: { class: 'w-full mx-14 flex flex-col gap-y-5' }) do |f| %>

        <h2 class="heading-2 mb-2.5">Create your account</h2>

        <div class="w-full">
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'Name', class: 'input' %>
        </div>

        <div class="w-full">
          <%= f.text_field :bio, autocomplete: "bio", placeholder: 'Bio', class: 'input' %>
        </div>
      
        <div class="w-full">
          <%= f.text_field :location, autocomplete: "location", placeholder: 'Location', class: 'input' %>
        </div>

        <h4 class="heading-5 my-2.5" >Date of birth</h4>
      
        <div class="w-full">
          <%= f.date_field :birth, autocomplete: "birth", placeholder: 'Date of birth', class: 'input' %>
        </div>

        <%= f.submit "Next", class: 'btn btn-dark btn-lg' %>
      <% end %>
    </div>
  </div>
<%end%>
