<div class="grid grid-cols-12 w-full min-h-[56.25rem] m-0">
  <div class="col-span-3 px-2.5 bg-gray-400">
    <%# sidemenu %>
  </div>

  <div class="col-span-5">

    <div class="">
      <%# header %>
      <div class="flex flex-row">
        <div class="p-1 m-3.5 mr-6">
          <%= image_tag 'arrow_back_icon', class: 'w-4 h-3.5' %>
        </div>
        <div class="flex flex-col">
          <h2 class="heading-4"><%=@user.name%></h2>
          <p class="text-sm text-dark-500">tweets</p>
        </div>
      </div>
    </div>

    <div class="h-[25.625rem]">

      <div class="h-[12.5rem] bg-dark-300">
        <%# cover%>
      </div>

      <div class="flex justify-between w-full h-auto mb-1">
        <div class="h-[8.688rem] w-[8.688rem] rounded-full bg-dark-200 mt-[-4.3rem] border-2 border-black ml-3">
          <%# profile picture%>
        </div>

        <div class="mt-2.5 mr-[0.938rem]">
          <button class="btn btn-md btn-secondary">Edit Profile</button>
        </div>

      </div>
      
      <div class="ml-[1.875rem] flex flex-col items-start">
        <h3 class="heading-3"><%=@user.name%></h3>
        <p class="description-1 text-dark-400">@<%=@user.username%></p>
        <p><%=@user.birth%></p>
      </div>

    </div>

    <div class="h-12"">
      <%# tabbar  %>
      <nav class="">
        <div class="flex">
          <ul class="">
            <li>Tweets</li>
            <li>Tweets & replies</li>
            <li>Media</li>
            <li>Likes</li>
          </ul>
        </div>
      <nav/>
    </div>

    <div class="h-ful">
      <%# tweets %>
    </div>
  </div>

  <div class="col-span-4 bg-red-50">
    <%# sidecolumn %>
  </div>


</div>    
