<!DOCTYPE html>
<html>
  <head>
    <title>RailsTwitter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <turbo-frame id="edit-profile-modal"></turbo-frame>
      <turbo-frame id="new-tweet-modal"></turbo-frame>
      <div class="flex mx-auto w-full h-full">
        <%= render "/users/sidemenu", class: "w-[5.5rem] xl:w-[17.2rem]" %>
        <main class="w-full sm:w-[36.5rem] overflow-y-auto max-h-screen h-full mr-2">
          <%= yield %>
        </main>
        <div class="hidden xl:block w-[17.2rem] bg-orange-300">
          Sidenav Right
        </div>
      </div>
  </body>
</html>
